<%= render ("layouts/navbar.html.erb") %>

<div class="container">
  <h1>Stations</h1>


    <% if @stations != []%>
    <ul>
      <% @stations.each do |station|%>
        <li><a href="stations/<%=station.id%>"><%=station.name%></a></li>
      <%end%>
    </ul>
      <%else%>
        <p>There are currently no stations</p>
    <%end%>

  <h3>Add a station<h3>

  <%= render("stations/form.html.erb") %>
</div>
