<%= render ("layouts/navbar.html.erb") %>

<div class="container">

  <h1>Transit Tracker</h1>
  <p>This application enables users to check: </p>
  <ul>
    <li>View all stations, lines, and stops</li>
    <li>Check stop times for trains</li>
    <li>Check all the stations a specific train passes through</li>
  </ul>

</div>
