<%= render ("layouts/navbar.html.erb") %>

<div class="container">


  <h1> Home Page</h1>

  <ul>
    <li><a href ="/lines">Add Lines</a></li>
    <li>Add Stations</li>
    <li>Add Stops</li>
  </ul>

</div>
